.wrapper {
  min-height: 80vh;
  padding-bottom: 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 500px) {
  .wrapper {
    width: 450px;
  }
}

.wrapper h1 {
  margin-bottom: 0;
}

.helper-text {
  font-size: 0.85rem;
  color: #555;
}

.upload--wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.upload--file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.upload--file-name {
  font-size: 0.85rem;
  color: #555;
  padding-left: 0.5rem;
}

.upload--label {
  display: inline-block;
  width: fit-content;
  position: relative;
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  background: lightgray;
  cursor: pointer;
  transition: transform 0.3s;
}

.results--wrapper {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.results--btn {
  margin-right: 1rem;
  background: darkslateblue;
  color: white;
  font-weight: 700;
}

.details--wrapper p {
  font-size: 0.85rem;
}
