html {
  font-size: 18px;
}

@media screen and (min-width: 840px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
span,
button,
input {
  font-size: 1rem;
}

button {
  width: fit-content;
  padding: 0.7rem 1.5rem;
  border: none;
  transition: font-size 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

/* a8y */
input:focus + label,
button:focus {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

button:disabled,
button[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}

a:link,
a:visited {
  color: inherit;
}

a:hover {
  color: mediumblue;
}

a:active {
  color: hotpink;
}
